//Keep track of your snippets
#keep-track-section {
    padding: 8rem 4rem 4rem 4rem;
    text-align: center;

    img {
        height: 50vh;
        width: 80vw;
        padding: 3rem 0 2rem 0;
        margin-left: -2.5rem;
    }

    h2 {
        padding-bottom: 0.5rem;
    }

    h3 {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }
}