//Access Clipboard Anywhere
#access-📋-section {
    padding: 8rem 4rem 4rem 2rem;
    text-align: center;

    img {
        height: 50vh;
        width: 100vw;
        padding: 3rem 0 2rem 0;
        margin-left: -2.5rem;
    }
}