//Supercharge your workflow
#supercharge-section {
    text-align: center;
    padding: 0 3rem;
    h3 {
        padding-bottom: 1rem;
    }
 

    .blacklist {
        padding-top: 5rem;

        img {
            padding: 2rem 0;
        }
    }

    .snippets,
    .preview {
        padding-top: 2rem;

        img {
            padding: 1rem 0 2rem 0;
        }
    }

}

.company-logos {
    @include Flex-Column;

    .logos {
        width: 25vw;
        padding: 1.75rem 0;
    }

    .google {
        padding-top: 7rem;
    }
}