@import "header", "responsive", "section1", "section2", "section3", "section4", "footer", "responsive", "configs";

//Colors
$primary-Strong-Cyan: hsl(171, 66%, 44%);
$accent-Strong-Cyan: hsl(171, 65%, 24%);
$primary-Light-Blue: hsl(233, 100%, 69%);
$accent-Light-Blue: hsl(232, 47%, 36%);
$neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
$neutral-Grayish-Blue: hsl(201, 11%, 66%);


//Font styling
$font-weights: (
    "regular": 400,
    "semiBold": 600
);


body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: $neutral-Dark-Grayish-Blue;
}

p {
    color: $neutral-Grayish-Blue;
    line-height: 1.5;
}

button {
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: map-get($font-weights, semiBold);
    padding: 0.75rem 6rem;
}

.ios-btn {
    background-color: $primary-Strong-Cyan;
    box-shadow: 3px 3px 5px $accent-Strong-Cyan;
    margin-bottom: 20px;
}

.mac-btn {
    background-color: $primary-Light-Blue;
    box-shadow: 3px 3px 5px $accent-Light-Blue;
}



